body{
	background-color: lightgray;
	display: flex;
	margin-right: 10px;
}

thead{
	text-align: center;
	width: 100px;
}

table{
	width: 100px;
}

.content{
	background-color: white;
		margin-top: 16px;
		margin-right: auto;
		margin-left: auto;
		padding-top: 16px;
		box-shadow: 0px 0px 4px black;
		width: 600px;
		border-radius: 4px;
}

#title{
	text-align: center;
}


#names{
	align-items: flex-start;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-right: 10px;
	font-size: x-small;
}
img{
	max-width: 600px;
	max-height: 300px;
}
tr{
	color: red;
}

td{
	color: grey;
}
